*{
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Segoe U2I', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30px;
    opacity: 50%;
}
.nav { 
    margin-left: 500px;
    display:flex ;
    flex-direction: row;
    color: aliceblue
}
.title{
 margin-left: 100px;
 font-size: 40px;
 color: orange;
 font-weight: bold;
}
.nav div{
    margin-right: 50px;
    margin-top: 20px;
    font-weight: bold;
}
.background img{
    width: 1500px;
    height: 700px;
}
.samllohoto{
    position: absolute;
    top : 150px;
    left: 850px;
    
}
.samllohoto img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
}
.disc{
    position: absolute;
    top: 200px;
    color: aliceblue;
    margin-left: 20px;
}
.disc p{
    font-size: 70px;
    font-weight: bold;
    width: 500px;
}
.disc div{
    margin-top: -60px;
    width: 400px;
}
button{
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color:orange;
    color: aliceblue;
}